/df_train.json
nn_derivative/derivative-model-grid.json
/nn_derivative/testset-both.torch
/nn_derivative/trainset-both.torch
/nn_hyperparameters/trainset.torch
/nn_hyperparameters/testset.torch
/nn_hyperparameters/simple-model-grid.json
/SchNet/40-cspbbr3.db
/SchNet/40-cspbbr3.xyz
/SchNet/40-cspbbr3-300K.db
/SchNet/40-cspbbr3-300K.xyz
/logs/
/jupyter-log/
/.ipynb_checkpoints/
/SchNet/forcetut/
/SchNet/wandb/
/runs/
/.idea/
